


/*::: HEADER ::::*/
header, section, footer {width: 100%; float: left;}

header {background-color: }

header h1 {float: left; width: 12em;}
header ul#login {float: right; width: 20em; list-style: none;}
header ul#login li {float: left; width: 10em;}
header ul#login li a {font-size: 11px;}


header div.navbar {width: 100%; float: left;}
header div.navbar li.list .dropdown-menu {left: 45%;}
header div.navbar li.rate .dropdown-menu {left: 72%;}
header ul.breadcrumb {float: left;}

/*AJUSTE AO BOOSTRAP DE ALINHAMENTO*/
.navbar .nav > li > a { padding: 18px 15px 15px; }

div.navbar-inner div.btn-group {float: right; margin-top: 10px}
div.navbar-inner div.btn-group ul.dropdown-menu {left: -45%}
div.navbar-inner div.btn-group ul.dropdown-menu li a{padding: 3px 5px;}

/* //////////// GERAL //////////////////*/
.pagination {float: right; margin: 20px 20px 0 0;}

section { min-height: 50em;}

section div.returnForm {margin: 0 auto; width: 45%;}


/*/// :: CADASTRO DE NOVO USUARIO :: ////////////////////////////////////////////////////////////////////*/

section form#register-form fieldset {width: 40%; margin: 0 auto;}
section form#register-form fieldset button{float: right; margin-right: 10px; }

/*/// :: LOGIN :: ////////////////////////////////////////////////////////////////////*/

section form#login-form fieldset {width: 40%; margin: 0 auto;}
section form#login-form fieldset button{float: right; margin-right: 10px; }

/*/// :: CADASTRO DO FILME :: ////////////////////////////////////////////////////////////////////*/

section form#movie-form fieldset {width: 40%; margin: 0 auto; padding-top: 20px;}
section form#movie-form fieldset button{float: right; margin-right: 10px; }

section form#movie-form fieldset .poster-movie {width: 140px; height: 140px;}

section form legend {width: 70%; padding: 0 10px;}
section form label.valid { width: 24px; height: 24px; background: url(../images/valid.png) center center no-repeat; display: inline-block;  text-indent: -9999px;}
section form label.error { font-weight: bold;  color: red;  padding: 2px 8px;  margin-top: 2px; }

section form #crop-group {display: none;}
section form #crop-group i {margin-top: 4px;}
section form #crop-group #crop-image-link {font-size: 11px; letter-spacing: 1px;}


/*////// EDIT PROFILE ////////////////////////////////////////////////////////////////////////////*/

section form#update-profile fieldset {width: 40%; margin: 0 auto; padding-top: 20px;}
section form#update-profile input {height: 30px;}

footer p{}

/*///////// :: MOVIES LIST :: ////////////////////////////////////////////////////////////////////////*/
section div.movie-list {width: 80%; margin: 0 auto; border: 1px solid #000;}



